
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

binary_sensor:
  - platform: workday
    country: UK

plant:
  basil:
    sensors:
      moisture: sensor.basil_moisture
      temperature: sensor.basil_temperature
      conductivity: sensor.basil_soil_conductivity
      brightness: sensor.basil_illuminance
  cactus:
    sensors:
      moisture: sensor.cactus_moisture
      temperature: sensor.cactus_temperature
      conductivity: sensor.cactus_soil_conductivity
      brightness: sensor.cactus_illuminance
  cilantro:
    sensors:
      moisture: sensor.cilantro_moisture
      temperature: sensor.cilantro_temperature
      conductivity: sensor.cilantro_soil_conductivity
      brightness: sensor.cilantro_illuminance
  geranium:
    sensors:
      moisture: sensor.geranium_moisture
      temperature: sensor.geranium_temperature
      conductivity: sensor.geranium_soil_conductivity
      brightness: sensor.geranium_illuminance
  palm:
    sensors:
      moisture: sensor.palm_moisture
      temperature: sensor.palm_temperature
      conductivity: sensor.palm_soil_conductivity
      brightness: sensor.palm_illuminance

sensor:
  - platform: london_air
    locations:
      - City of London
      - Hackney
      - Islington
      - Tower Hamlets
