esphome:
  name: greenhouse
  platform: ESP32
  board: pico32
  on_boot:
    then:
      - light.turn_on:
          id: led
          brightness: 20%
          red: 0%
          green: 0%
          blue: 100%

interval:
  - interval: 5s
    then:
      - if:
          condition:
            not:
              - mqtt.connected:
              - wifi.connected:
          then:
            - light.turn_on:
                id: led
                brightness: 100%
                red: 100%
                green: 0%
                blue: 0%

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Greenhouse Fallback Hotspot"
    password: !secret wifi_ap_password

captive_portal:

# Enable logging
logger:
  logs:
    esp32_ble_tracker: info
    light: info
    sensor: info
    xiaomi_ble: info

# Enable Home Assistant API
#api:
#  password: !secret api_password

ota:
  password: !secret ota_password

mqtt:
  broker: !secret mqtt_broker
  username: !secret mqtt_username
  password: !secret mqtt_password

# Activates prometheus /metrics endpoint
prometheus:

esp32_ble_tracker:
  on_ble_advertise:
    - mac_address: 'C4:7C:8D:6A:4C:BF'
      then:
        - if:
            condition:
              not:
                - script.is_running: blink_led_green
            then:
              - script.execute: blink_led_green
    - mac_address: 'C4:7C:8D:6A:A8:58'
      then:
        - if:
            condition:
              not:
                - script.is_running: blink_led_green
            then:
              - script.execute: blink_led_green
    - mac_address: 'C4:7C:8D:6A:B2:76'
      then:
        - if:
            condition:
              not:
                - script.is_running: blink_led_green
            then:
              - script.execute: blink_led_green
    - mac_address: 'C4:7C:8D:6A:B3:CF'
      then:
        - if:
            condition:
              not:
                - script.is_running: blink_led_green
            then:
              - script.execute: blink_led_green
    - mac_address: 'C4:7C:8D:6A:B4:1B'
      then:
        - if:
            condition:
              not:
                - script.is_running: blink_led_green
            then:
              - script.execute: blink_led_green

sensor:
  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:6A:4C:BF'
    temperature:
      name: "Geranium - Temperature"
    moisture:
      name: "Geranium - Moisture"
    illuminance:
      name: "Geranium - Illuminance"
    conductivity:
      name: "Geranium - Soil Conductivity"

  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:6A:A8:58'
    temperature:
      name: "Basil - Temperature"
    moisture:
      name: "Basil - Moisture"
    illuminance:
      name: "Basil - Illuminance"
    conductivity:
      name: "Basil - Soil Conductivity"

  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:6A:B2:76'
    temperature:
      name: "Palm - Temperature"
    moisture:
      name: "Palm - Moisture"
    illuminance:
      name: "Palm - Illuminance"
    conductivity:
      name: "Palm - Soil Conductivity"

  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:6A:B3:CF'
    temperature:
      name: "Cactus - Temperature"
    moisture:
      name: "Cactus - Moisture"
    illuminance:
      name: "Cactus - Illuminance"
    conductivity:
      name: "Cactus - Soil Conductivity"

  - platform: xiaomi_hhccjcy01
    mac_address: 'C4:7C:8D:6A:B4:1B'
    temperature:
      name: "Cilantro - Temperature"
    moisture:
      name: "Cilantro - Moisture"
    illuminance:
      name: "Cilantro - Illuminance"
    conductivity:
      name: "Cilantro - Soil Conductivity"

light:
  - id: led
    name: "Led"
    platform: fastled_clockless
    chipset: SK6812
    pin: GPIO27
    num_leds: 1
    rgb_order: GRB
    restore_mode: RESTORE_DEFAULT_OFF

script:
  - id: blink_led_green
    then:
      - light.turn_on:
          id: led
          brightness: 20%
          red: 0%
          green: 100%
          blue: 0%
      - delay: 0.5s
      - light.turn_off: led
